.main {
    background-color: #1E2222;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26)
}

.main .main-header {
    font-size: 16px;
    background-color: #121616;
    height: 24px;
    padding: 6px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.main .main-content {
    padding: 8px;
}

.main td,
.main th {
    border: 1px solid #121616;
    padding: 8px;
}

.main tr:nth-child(even){
    background-color: #1E2222;
}

.main tr:hover {
    background-color: #181D1D;
}

.main th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #121616;
    color: #D19038;
}
