.menu {

}

.menu h1 {
    font-size: 22px;
    margin-bottom: 2px;
}

.menu p,
.menu ul {
    margin-bottom: 16px;
    margin-top: 0;
}

.menu ul {
    display: block;
    margin-block-start: .5em;
    margin-block-end: 1.5em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
    padding-left: 1em;
    list-style-type: none;
}

.menu li {
    margin-bottom: 2px;
}

.menu li+li {
    margin-top: .25em;
}

