.sidebar {
    background-color: #1E2222;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.sidebar .sidebar-title {
    font-size: 16px;
    background-color: #121616;
    height: 24px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    padding: 6px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.sidebar .sidebar-content {
    padding: 6px;
}
