<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  {{ template "_internal/google_analytics.html" . }}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,700&amp;subset=japanese" rel="stylesheet">
</head>
<body>
<div class="body">
  <div class="sidebar-back" id="sidebar-back" onclick="ToggleMenu()"></div>
  <header class="header">
    <a href="/" class="header-title">
      <img src="/img/logo.png" alt="logo" class="header-title-logo"/>
      <span>{{ .Site.Title }}</span>
    </a>
  </header>
  <div class="sidebar-toggle" id="sidebar-toggle" onclick="ToggleMenu()" visible>
    メニュー
  </div>
  <div class="container">
    <script>
      function ToggleMenu() {
        document.getElementById("sidebar").toggleAttribute("visible");
        document.getElementById("sidebar-back").toggleAttribute("visible");
        document.getElementById("sidebar-toggle").toggleAttribute("visible");
      }
    </script>
    <nav class="sidebar" id="sidebar">
      <div class="sidebar-title">
        <span>メニュー</span>
      </div>
      <div class="sidebar-content">
        {{ partial "menu.html" }}
      </div>
    </nav>
    <div class="main">
      <header class="main-header">
        {{ block "main-header" . }}
        <span>{{ .Title }}</span>
        {{ end }}
      </header>
      <div class="main-content">
        {{ block "main" . }}{{ end }}
        <hr />
        <p>最終更新日{{ .Lastmod }}</p>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="footer-inner">
      <p>
        特に明示されていない限り、本Wikiの内容は<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>の元にライセンスされます。
      </p>
      <p>
        Dauntless content and materials are trademarks and copyrights of Phoenix Labs and its licensors.
        All rights reserved.
      </p>
    </div>
  </footer>
</div>
</body>
</html>
