{{ define "main" }}
{{ if (gt .WordCount 400) }}
<aside class="main-toc">
  <header>
    <h2>目次</h2>
  </header>
  {{ .TableOfContents }}
</aside>
<hr />
{{ end }}
{{ .Content | replaceRE "<td(.*)>!r([0-9]+)!(.*)</td>" "<td$1 rowspan=\"$2\" class=\"rowspan\">$3</td>" | replaceRE "<td(.*)>!c([0-9]+)!(.*)</td>" "<td$1 colspan=\"$2\" class=\"colspan\">$3</td>" | replaceRE "<td.*>!-!</td>" "" | replaceRE "<th(.*)>!r([0-9]+)!(.*)</th>" "<th$1 rowspan=\"$2\" class=\"rowspan\">$3</th>" | replaceRE "<th(.*)>!c([0-9]+)!(.*)</th>" "<th$1 colspan=\"$2\" class=\"colspan\">$3</th>" | replaceRE "<th.*>!-!</th>" "" | replaceRE "!br!" "<br>" | safeHTML }}
<hr />
{{ template "_internal/disqus.html" . }}
{{ end }}
