<div class="menu">
  <p><a href="/">トップ</a></p>
  <h1>初心者向け</h1>
  <ul>
    <li>
      <a href="/basic/初心者ガイド">初心者ガイド</a>
    </li>
    <li>
      <a href="/basic/チュートリアル">チュートリアル</a>
    </li>
    <li>
      <a href="/basic/よくある質問">よくある質問</a>
    </li>
  </ul>
  <h1>全般</h1>
  <ul>
    <li>
      <a href="/basic/Dauntlessとは">Dauntlessとは</a>
    </li>
    <li>
      <a href="/basic/ストーリー">ストーリー</a>
    </li>
    <li>
      <a href="/basic/課金">課金</a>
    </li>
  </ul>
  <h2>システム</h2>
  <ul>
    <li>
      <a href="/basic/基本操作">基本操作</a>
    </li>
    <li>
      <a href="/basic/マスタリー">マスタリー</a>
    </li>
    <li>
      <a href="/basic/マスタリー">ハントパス</a>
    </li>
    <li>
      <a href="/basic/ダメージについて">ダメージについて</a>
    </li>
    <li>
      <a href="/basic/属性">属性</a>
    </li>
    <li>
      <a href="/basic/パーク">パーク</a>
    </li>
    <li>
      <a href="/basic/セルベンダー">セルベンダー</a>
    </li>
  </ul>
  <h2>武器ガイド</h2>
  <ul>
    <li>
      <a href="/basic/sword">Sword</a>
    </li>
    <li>
      <a href="/basic/hammer">Hammer</a>
    </li>
    <li>
      <a href="/basic/chain-blades">Chain Blades</a>
    </li>
    <li>
      <a href="/basic/axe">Axe</a>
    </li>
    <li>
      <a href="/basic/war-pike">War Pike</a>
    </li>
    <li>
      <a href="/basic/ostian-repeaters">Ostian Repeaters</a>
    </li>
  </ul>
  <h1>データ</h1>
  <h2>武器</h2>
  <ul>
    <li>
      <a href="/data/sword">Sword</a>
    </li>
    <li>
      <a href="/data/hammer">Hammer</a>
    </li>
    <li>
      <a href="/data/chain-blades">Chain Blades</a>
    </li>
    <li>
      <a href="/data/axe">Axe</a>
    </li>
    <li>
      <a href="/data/war-pike">War Pike</a>
    </li>
    <li>
      <a href="/data/ostian-repeaters">Ostian Repeaters</a>
    </li>
  </ul>
  <h2>防具</h2>
  <ul>
    <li>
      <a href="/data/armor">防具</a>
    </li>
    <li>
      <a href="/data/lantern">ランタン</a>
    </li>
  </ul>
  <h2>その他</h2>
  <ul>
    <li>
      <a href="/basic/消費アイテム">消費アイテム</a>
    </li>
    <li>
      <a href="/basic/パーク">パーク</a>
    </li>
  </ul>
  <h1>攻略・Tips</h1>
  <ul>
    <li>
      <a href="/guide/tips">Tips</a>
    </li>
    <li>
      <a href="/guide/build">ビルド集</a>
    </li>
  </ul>
  <h1>和訳</h1>
  <ul>
    <li>
      <a href="/translate/news/">ニュース</a>
    </li>
    <li>
      <a href="/translate/patch/">パッチノート</a>
    </li>
    <li>
      <a href="/translate/reddit/">reddit</a>
    </li>
  </ul>
  <h1>編集者用</h1>
  <ul>
    <li>
      <a href="/meta/sandbox">sandbox</a>
    </li>
    <li>
      <a href="/readonly/編集マニュアル">編集マニュアル</a>
    </li>
  </ul>
</div>
