<div class="menu">
  <p><a href="/">トップ</a></p>
  <h1>基礎</h1>
  <ul>
    <li>
      <a href="/basic/初心者ガイド">初心者ガイド</a>
    </li>
    <li>
      <a href="/basic/よくある質問">よくある質問</a>
    </li>
    <li>
      <a href="/basic/基本操作">基本操作</a>
    </li>
  </ul>
  <h1>データ</h1>
  <ul>
    <li>
      <a href="#">WIP</a>
    </li>
  </ul>
  <h1>和訳</h1>
  <ul>
    <li>
      <a href="/translate/news">ニュース</a>
    </li>
    <li>
      <a href="/translate/patch">パッチノート</a>
    </li>
    <li>
      <a href="/translate/reddit">reddit</a>
    </li>
  </ul>
  <h1>Wiki</h1>
  <ul>
    <li>
      <a href="/meta/sandbox">sandbox</a>
    </li>
    <li>
      <a href="/readonly/編集マニュアル">編集マニュアル</a>
    </li>
  </ul>
</div>
